.App {
  text-align: center;
}
.container {
  background: radial-gradient(circle at center, 
              rgb(122, 140, 8) 20%, 
              rgb(30, 172, 23) 60%, 
              rgb(5, 102, 14) 100%);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  ;
  
}

h2.text-center{
  color: black;
}
.card{
  margin: 10px;
 
  background-color:cornsilk;
}

